Repository Space2Study-UA-1156/Client-01, pull requests merged in 2024-04, with the labels that each got.

#83 bugfix #69: the-email-field-is-overloaded-by-description-text
  src/containers/guest-home-page/forgot-password/ForgotPassword.styles.js
Labels: bug, Sign up, Log in, FrontEnd part

#88 sign in/sign up with Google button not overflow container when scaling
  src/containers/guest-home-page/login-dialog/LoginDialog.styles.js
  src/containers/guest-home-page/signup-dialog/SignupDialog.styles.js
Labels: bug, Sign up, Log in, FrontEnd part

#89 Login form overflows its container on tablets
  src/containers/guest-home-page/login-form/LoginForm.styles.js
Labels: bug, Log in, FrontEnd part

#82 bugfix #78 in what-to-do-block
  src/constants/translations/en/guest-home-page.json
Labels: bug, FrontEnd part, Home page

#86 bugfix #75: correct mistake in Send a Request item
  src/constants/translations/en/guest-home-page.json
Labels: bug, FrontEnd part, Home page

#91 bugfix #74: font bold removed
  src/containers/guest-home-page/cards-with-button/CardsWithButton.styles.js
Labels: bug, FrontEnd part, Home page

#90 fix scrolling to the welcoming block after clicking the logo button
  src/containers/guest-home-page/Welcome.jsx
  src/containers/layout/navbar/NavBar.jsx
Labels: bug, FrontEnd part, Home page

#92 bugfix #72: correct a mistake in Already-have-a-Space2Study-account text
  src/constants/translations/en/signup.json
Labels: bug, Sign up, FrontEnd part, tutor

#95 Fix breadcrumb styles
  src/containers/layout/app-breadcrumbs/AppBreadCrumbs.styles.js
Labels: bug

#85 #77 Fix sign up validation
  src/containers/guest-home-page/signup-dialog/SignupDialog.jsx
  src/containers/guest-home-page/signup-form/SignupForm.jsx
  src/utils/validations/login.js
Labels: bug

#84 #73 Fix login validation
  src/containers/guest-home-page/login-dialog/LoginDialog.jsx
  src/containers/guest-home-page/login-form/LoginForm.jsx
Labels: bug

#94 The text on the Become... button corresponds to the content of the block
  src/containers/guest-home-page/how-it-works/HowItWorks.jsx
Labels: bug, FrontEnd part, Home page
