Repository Space2Study-UA-1156/Client-01, pull requests merged in 2024-05, with the labels that each got.

#149 Add tests for InputWithIcon
  tests/unit/components/input-with-icon/InputWithIcon.spec.jsx
Labels: Unit test

#121 Bugfix/93/the title in sign up how it works block
  src/containers/guest-home-page/cards-with-button/CardsWithButton.jsx
  src/containers/guest-home-page/how-it-works/HowItWorks.jsx
Labels: bug, FrontEnd part, Home page

#152 Added unit test for VideoBox component
  tests/unit/components/video-box/VideoBox.spec.jsx
Labels: FrontEnd part, Unit test

#136 Write unit test for "AddPhotoStep" container
  tests/unit/containers/tutor-home-page/add-photo-step/AddPhotoStep.spec.jsx
Labels: FrontEnd part, Unit test

#135 Write unit test for "AppPopover" component
  tests/unit/components/app-popover/AppPopover.spec.jsx
Labels: FrontEnd part, Unit test

#157 Update vitest packages
  package-lock.json
  package.json
Labels: FrontEnd part, Dependencies

#129 Added unit tests for the find offers page
  tests/unit/pages/find-offers/FindOffers.spec.jsx
Labels: Find offers, sprint 2, Unit test

#126 Tests/98/sp 1 write unit test for popupdialog component
  src/components/popup-dialog/PopupDialog.jsx
  tests/unit/components/popup-dialog/PopupDialog.spec.jsx
Labels: sprint 2, FrontEnd part, Unit test

#134 Test/97/unit test app text area
  tests/unit/components/app-text-area/AppTextArea.spec.jsx
Labels: FrontEnd part, Unit test

#154 unit test for ImgTitleDescription after removing unnecessary commits
  tests/unit/components/img-title-description/ImgTitleDescription.spec.jsx
Labels: FrontEnd part, Unit test

#124 Added tests for subjects page
  tests/unit/pages/subjects/Subjects.spec.jsx
Labels: FrontEnd part, Unit test

#133 Added tests for GeneralInfoStep container
  tests/unit/containers/tutor-home-page/general-info-step/GeneralInfoStep.spec.jsx
Labels: FrontEnd part, Unit test

#132 Added unit tests for LanguageStep container
  tests/unit/containers/tutor-home-page/language-step/LanguageStep.spec.jsx
Labels: FrontEnd part, Unit test

#163 report coverage on test failure
  vitest.config.ts
Labels: FrontEnd part, Dependencies

#150 Add tests for Loader
  tests/unit/components/loader/Loader.spec.jsx
Labels: Unit test

#151 Add tests for Categories page
  tests/unit/pages/categories/Categories.spec.jsx
Labels: Unit test

#162 unit test for "AppTextField" component
  tests/unit/components/app-text-field/AppTextField.spec.jsx
Labels: FrontEnd part, Unit test

#167 update the unit test for the how it works component
  tests/unit/containers/how-it-works/HowItWorks.spec.jsx
Labels: bug, sprint 2, FrontEnd part, Unit test, High priority

#155 Added the steps wrapper modal window
  src/components/user-steps-wrapper/UserStepsWrapper.jsx
Labels: sprint 2, Stepper

#170 Feature/140/tutor subject step
  src/containers/tutor-home-page/subjects-step/SubjectsStep.jsx
  src/containers/tutor-home-page/subjects-step/SubjectsStep.styles.js
Labels: feature, FrontEnd part, tutor, Stepper

#160 unit test for PageWrapper component
  tests/unit/components/page-wrapper/PageWrapper.spec.jsx
Labels: FrontEnd part, Unit test

#153 tests for AppContentSwitcher component
  tests/unit/components/app-content-switcher/AppContentSwitcher.spec.jsx
Labels: FrontEnd part, Unit test

#161 Added tests for AccordionWithImage component
  tests/unit/components/accordion-with-image/AccordionWithImage.spec.jsx
Labels: FrontEnd part, Unit test

#127 unit test for AppHeader component
  tests/unit/containers/layout/app-header/AppHeader.spec.jsx
Labels: FrontEnd part, Unit test

#128 add unit tests for Tab component
  tests/unit/components/tab/Tab.spec.jsx
Labels: FrontEnd part, Unit test

#186 Implement create request/offer block
  src/assets/img/create-request-offer/subject_icon.svg
  src/constants/translations/en/find-offer-page.json
  src/containers/create-request-offer/CreateRequestOffer.jsx
  src/containers/create-request-offer/CreateRequestOffer.styles.js
  tests/unit/containers/create-request-offer/CreateRequestOffer.spec.jsx
Labels: feature, Categories, FrontEnd part

#165 Implement the validation for all the fields on the sign-up form
  src/constants/translations/en/common.json
  src/containers/guest-home-page/forgot-password/ForgotPassword.jsx
  src/containers/guest-home-page/login-dialog/LoginDialog.jsx
  src/containers/guest-home-page/reset-password/ResetPassword.jsx
  src/containers/guest-home-page/signup-dialog/SignupDialog.jsx
  src/utils/validations/auth.js
  src/utils/validations/common.js
  tests/unit/utils/validations/auth.spec.js
  tests/unit/utils/validations/common.spec.js
  vitest.config.ts
Labels: feature, Sign up, FrontEnd part

#183 Implement category item card
  src/components/category-card/CategoryCard.jsx
  src/components/category-card/CategoryCard.styles.js
  tests/unit/components/category-card/CategoryCard.spec.jsx
Labels: feature, Categories, FrontEnd part

#169 Feature/139/sp 2 implement general info step
  .eslintrc.js
  .gitignore
  .vscode/settings.json
  src/components/step-wrapper/StepWrapper.jsx
  src/components/step-wrapper/StepWrapper.styles.js
  src/components/user-steps-wrapper/UserStepsWrapper.jsx
  src/containers/tutor-home-page/general-info-step/FormSection.styles.ts
  src/containers/tutor-home-page/general-info-step/FormSection.tsx
  src/containers/tutor-home-page/general-info-step/GeneralInfoStep.jsx
  src/containers/tutor-home-page/general-info-step/GeneralInfoStep.styles.js
  src/containers/tutor-home-page/general-info-step/GeneralInfoStep.styles.ts
  src/containers/tutor-home-page/general-info-step/GeneralInfoStep.tsx
  src/containers/tutor-home-page/general-info-step/ImageSection.tsx
  src/containers/tutor-home-page/general-info-step/SelectGroup.styles.ts
  src/containers/tutor-home-page/general-info-step/SelectGroup.tsx
  src/containers/tutor-home-page/general-info-step/TextFieldGroup.styles.ts
  src/containers/tutor-home-page/general-info-step/TextFieldGroup.tsx
  src/context/step-context.jsx
  tests/unit/containers/how-it-works/HowItWorks.spec.jsx
  tsconfig.json
Labels: sprint 3, Stepper

#182 Add button and chips to Subjects step
  src/components/user-steps-wrapper/constants.js
  src/containers/tutor-home-page/subjects-step/SubjectsStep.jsx
Labels: Subjects, FrontEnd part

#190 Feature/188/sp 1 create language service
  src/constants/request.js
  src/services/language-service.js
  tests/unit/services/language-service.spec.js
Labels: feature, sprint 3, FrontEnd part

#193 Photo step
  src/containers/tutor-home-page/add-photo-step/AddPhotoStep.jsx
  src/containers/tutor-home-page/add-photo-step/AddPhotoStep.style.js
  tests/unit/containers/tutor-home-page/add-photo-step/AddPhotoStep.spec.jsx
Labels: feature, FrontEnd part, student, tutor, Stepper

#194 [Categories] Implement list of categories block
  src/containers/category-list/CategoryList.jsx
  src/containers/category-list/CategoryList.styles.js
  tests/unit/containers/category-list/CategoryList.spec.jsx
Labels: feature, Categories, FrontEnd part

#195 Added the interface for the form section
  src/containers/tutor-home-page/general-info-step/FormSection.tsx
  src/containers/tutor-home-page/general-info-step/interfaces/IFormSection.ts
  src/containers/tutor-home-page/general-info-step/interfaces/ISelectGroup.ts
  src/containers/tutor-home-page/general-info-step/interfaces/ITextFieldGroup.ts
  tests/unit/components/step-wrapper/StepWrapper.spec.jsx
Labels: sprint 3, Stepper

#208 Add unit tests for the subjects step
  tests/unit/containers/tutor-home-page/subjects-step/SubjectStep.spec.jsx
Labels: Unit test

#216 Implemented popular categories block
  src/containers/popular-categories/PopularCategories.jsx
  src/pages/find-offers/FindOffers.jsx
Labels: feature, Find offers, FrontEnd part

#214 Created AppViewSwitcher component
  src/components/app-view-switcher/AppViewSwitcher.jsx
  src/components/app-view-switcher/AppViewSwitcher.styles.jsx
  src/pages/find-offers/FindOffers.jsx
Labels: feature, Find offers, FrontEnd part

#191 Feature/174/categories results not found
  src/containers/categories-results-not-found/CategoriesResultsNotFound.jsx
  src/containers/categories-results-not-found/CategoriesResultsNotFound.styles.js
  tests/unit/containers/categories-results-not-found/CategoriesResultsNotFound.spec.jsx
Labels: feature, Categories, FrontEnd part

#212 implement category icon service
  src/services/category-icon-service.ts
  tests/unit/services/category-icon-service.spec.js
Labels: feature, sprint 3, FrontEnd part

#215 rework СategoryСard component
  src/components/category-card/CategoryCard.jsx
  src/components/category-card/CategoryCard.styles.js
  src/constants/translations/en/categories-page.json
  src/containers/category-list/CategoryList.jsx
  tests/unit/components/category-card/CategoryCard.spec.jsx
  tests/unit/containers/category-list/CategoryList.spec.jsx
Labels: feature, Categories, sprint 3, FrontEnd part

#218 Create HOC "withLoader"
  src/hocs/withLoader.jsx
  tests/unit/hocs/withLoader.spec.jsx
Labels: feature, sprint 3, FrontEnd part

#225 Changed the location service and the select group
  src/containers/tutor-home-page/general-info-step/SelectGroup.tsx
  src/containers/tutor-home-page/general-info-step/interfaces/ISelectGroup.ts
  src/services/location-service.js
  src/services/location-service.ts
Labels: Stepper

#223 Implemented photo step validation
  src/components/step-wrapper/StepWrapper.styles.js
  src/containers/tutor-home-page/add-photo-step/AddPhotoStep.jsx
  src/containers/tutor-home-page/add-photo-step/AddPhotoStep.style.js
  tests/unit/containers/tutor-home-page/add-photo-step/AddPhotoStep.spec.jsx
Labels: feature, FrontEnd part, student, tutor, Stepper

#221 Implemented OfferCardSquare Component
  src/components/offer-card-square/OfferCardSquare.jsx
  src/components/offer-card-square/OfferCardSquare.styles.js
  src/constants/translations/en/common.json
Labels: feature, Find offers, FrontEnd part

#226 [Categories] Show "Sorry, no results found" block in CategoryList component
  src/containers/category-list/CategoryList.jsx
  tests/unit/containers/category-list/CategoryList.spec.jsx
Labels: feature, Categories, FrontEnd part

#227 Add role switcher
  src/pages/find-offers/FindOffers.jsx
  src/pages/find-offers/FindOffers.styles.js
  tests/unit/pages/find-offers/FindOffers.spec.jsx
Labels: feature, FrontEnd part, Unit test

#230 Created offer service
  src/services/offer-service.js
  tests/unit/services/offer-service.spec.js
Labels: feature, sprint 4, FrontEnd part

#228 Created offer cards container
  src/containers/offer-cards-container/OfferCardsContainer.jsx
Labels: feature, Find offers, FrontEnd part

#236 Add student popular categories page
  src/constants/translations/en/student-home-page.json
  src/containers/category-list/CategoryList.jsx
  src/containers/student-home-page/student-popular-categories/StudentPopularCategories.jsx
  src/containers/student-home-page/student-popular-categories/StudentPopularCategories.styles.js
  src/pages/student-home/StudentHome.jsx
  tests/unit/containers/category-list/CategoryList.spec.jsx
  tests/unit/containers/student-home-page/student-popular-categories/StudentPopularCategories.spec.jsx
Labels: FrontEnd part, Unit test

#233 Feature/142/sp 05 add validation for general info step
  src/containers/tutor-home-page/general-info-step/FormSection.tsx
  src/containers/tutor-home-page/general-info-step/TextFieldGroup.tsx
  src/containers/tutor-home-page/general-info-step/interfaces/IFormSection.ts
  src/context/step-context.jsx
Labels: Stepper

#224 Sort Menu component with tests
  src/components/sort-menu/SortMenu.jsx
  src/components/sort-menu/SortMenu.styles.js
  tests/unit/components/sort-menu/SortMenu.spec.jsx
Labels: feature, Find offers, FrontEnd part

#217 Feature/172/categories title with description and search input
  src/constants/translations/en/categories-page.json
  src/containers/categories-title-input/CategoriesTitleInput.jsx
  src/containers/categories-title-input/CategoriesTitleInput.styles.js
  tests/unit/containers/categories-title-input/CategoriesTitleInput.spec.jsx
Labels: feature, Categories, FrontEnd part

#232 Added unit tests for OfferCardSquare component
  src/components/offer-card-square/OfferCardSquare.jsx
  tests/unit/components/offer-card-square/OfferCardSquare.spec.jsx
Labels: FrontEnd part, Unit test

#235 Implement finish of the stepper
  src/components/step-wrapper/StepWrapper.jsx
  src/components/step-wrapper/StepWrapper.styles.js
  src/context/step-context.jsx
  src/hooks/use-steps.jsx
Labels: feature, FrontEnd part, student, tutor, Stepper

#189 email confirm popup window
  src/containers/email-confirm-popup-window/EmailConfirmPopupWindow.jsx
  src/containers/email-confirm-popup-window/EmailConfirmPopupWindow.styles.js
  tests/unit/containers/email-confirm-popup-window/EmailConfirmPopupWindow.spec.jsx
Labels: feature, Sign up, FrontEnd part

#242 Disable Add subject button for added subjects
  src/containers/tutor-home-page/subjects-step/SubjectsStep.jsx
  tests/unit/containers/tutor-home-page/subjects-step/SubjectStep.spec.jsx
Labels: enhancement, Subjects, FrontEnd part, Unit test

#241 Tests/237/sp1 general info step add unit tests
  src/containers/tutor-home-page/general-info-step/FormSection.tsx
  src/containers/tutor-home-page/general-info-step/GeneralInfoStep.tsx
  src/containers/tutor-home-page/general-info-step/ImageSection.tsx
  src/containers/tutor-home-page/general-info-step/SelectGroup.tsx
  src/containers/tutor-home-page/general-info-step/interfaces/IFormSection.ts
  tests/unit/containers/tutor-home-page/general-info-step/FormSection.spec.jsx
  tests/unit/containers/tutor-home-page/general-info-step/GeneralInfoStep.spec.jsx
  tests/unit/containers/tutor-home-page/general-info-step/ImageSection.spec.jsx
  tests/unit/containers/tutor-home-page/general-info-step/SelectGroup.spec.jsx
  tests/unit/containers/tutor-home-page/general-info-step/TextFieldGroup.spec.jsx
Labels: sprint 5, Stepper

#244 Adjust data fetching in CategoryList due to updated "get all categories" response #243
  src/containers/category-list/CategoryList.jsx
  tests/unit/containers/category-list/CategoryList.spec.jsx
Labels: bug, Categories, sprint 5, FrontEnd part

#245 Update CategoryCard icon prop in CategoryList component
  src/containers/category-list/CategoryList.jsx
Labels: bug, Categories, FrontEnd part

#254 Implemented offer card for list view
  src/components/offer-card-list/OfferCardList.jsx
  src/components/offer-card-list/OfferCardList.styles.js
Labels: feature, Find offers, FrontEnd part

#251 Move categoryName from query params to component state
  src/containers/subjects-search/SubjectsSearch.jsx
  tests/unit/containers/subjects-search/SubjectsSearch.spec.jsx
Labels: enhancement, Subjects, sprint 5, FrontEnd part

#252 User profile picture uploading
  src/containers/navigation-icons/NavigationIcons.constants.jsx
  src/containers/navigation-icons/user-icons/AccountIcon.jsx
  src/containers/navigation-icons/user-icons/UserIcons.jsx
  src/redux/reducer.js
  tests/unit/containers/navbar/NavBar.spec.jsx
  tests/unit/containers/navigation-icons/user-icons/AccountIcon.spec.jsx
  tests/unit/containers/navigation-icons/user-icons/UserIcons.spec.jsx
  tests/unit/redux/redux.variables.js
Labels: FrontEnd part, Stepper

#262 finish of the stepper
  src/components/step-wrapper/StepWrapper.jsx
  src/components/user-steps-wrapper/constants.js
  src/containers/tutor-home-page/general-info-step/FormSection.tsx
  src/containers/tutor-home-page/general-info-step/SelectGroup.tsx
  src/containers/tutor-home-page/general-info-step/TextFieldGroup.tsx
  src/containers/tutor-home-page/general-info-step/interfaces/IFormSection.ts
  src/containers/tutor-home-page/general-info-step/interfaces/ITextFieldGroup.ts
  src/containers/tutor-home-page/language-step/LanguageStep.jsx
  src/context/step-context.jsx
  src/hooks/use-steps.jsx
  src/hooks/use-validate-steps.jsx
  src/utils/validations/stepper.js
  tests/unit/containers/tutor-home-page/general-info-step/FormSection.spec.jsx
  tests/unit/containers/tutor-home-page/general-info-step/SelectGroup.spec.jsx
  tests/unit/containers/tutor-home-page/general-info-step/TextFieldGroup.spec.jsx
Labels: feature, FrontEnd part, student, tutor, Stepper

#260 Combined offer cards with offer container
  src/components/offer-card-list/OfferCardList.jsx
  src/components/offer-card-list/OfferCardList.styles.js
  src/containers/offer-cards-container/OfferCardsContainer.jsx
  src/containers/offer-cards-container/OfferCardsContainer.styles.jsx
  src/pages/find-offers/FindOffers.jsx
Labels: feature, Find offers, FrontEnd part

#263 Implemented pagination component for find offers page
  src/components/app-pagination/AppPagination.jsx
  src/components/app-pagination/AppPagination.styles.jsx
Labels: feature, FrontEnd part

#266 Added the users fetching and the message storage
  .eslintrc.js
  src/components/step-wrapper/StepWrapper.jsx
  src/containers/tutor-home-page/general-info-step/TextFieldGroup.tsx
  src/containers/tutor-home-page/general-info-step/interfaces/ITextFieldGroup.ts
  src/context/step-context.jsx
Labels: sprint 5, Stepper

#257 SubjectList container with reusable useViewMore hook for data fetching
  src/components/card-list/CardList.jsx
  src/components/card-list/CardList.styles.js
  src/components/category-card/CategoryCard.styles.js
  src/containers/subject-list/SubjectList.jsx
  src/containers/subject-list/SubjectList.styles.jsx
  src/hooks/use-view-more.jsx
Labels: feature, Subjects, FrontEnd part

#270 Added tests for AppPagination component
  src/components/app-pagination/AppPagination.jsx
  tests/unit/components/app-pagination/AppPagination.spec.jsx
Labels: sprint 5, FrontEnd part, Unit test

#268 Write unit tests for use-validate-steps hook
  tests/unit/hooks/use-validate-steps.spec.jsx
Labels: sprint 5, FrontEnd part, Unit test

#274 Unit tests for SubjectList
  tests/unit/components/card-list/CardList.spec.jsx
  tests/unit/containers/subject-list/SubjectList.spec.jsx
Labels: sprint 5, FrontEnd part, Unit test

#286 Added unit tests for the cooperations page
  tests/unit/pages/my-coooperations/MyCooperations.spec.jsx
Labels: sprint 5, Unit test

#288 Added the tests for the student home component
  tests/unit/pages/student-home/StudentHome.spec.jsx
Labels: sprint 5, Unit test

#273 Implemented pagination for offer cards on find offers page
  src/pages/find-offers/FindOffers.jsx
  tests/unit/pages/find-offers/FindOffers.spec.jsx
Labels: feature, Find offers, FrontEnd part

#300 Create component for rich text editor
  package-lock.json
  package.json
  src/components/app-rich-text-editor/AppRichTextEditor.jsx
  tests/unit/components/app-rich-text-editor/AppRichTextEditor.spec.jsx
Labels: FrontEnd part

#276 Feature/256/sp 1/add the mobile markup for the general info step
  package-lock.json
  src/components/user-steps-wrapper/UserStepsWrapper.jsx
  src/containers/tutor-home-page/general-info-step/FormSection.styles.ts
  src/containers/tutor-home-page/general-info-step/FormSection.tsx
  src/containers/tutor-home-page/general-info-step/GeneralInfoStep.styles.ts
  src/containers/tutor-home-page/general-info-step/GeneralInfoStep.tsx
  src/containers/tutor-home-page/general-info-step/ImageSection.tsx
  src/containers/tutor-home-page/general-info-step/SelectGroup.tsx
  src/containers/tutor-home-page/general-info-step/TextFieldGroup.styles.ts
  src/containers/tutor-home-page/general-info-step/TextFieldGroup.tsx
  src/containers/tutor-home-page/general-info-step/interfaces/IFormSection.ts
  src/containers/tutor-home-page/general-info-step/interfaces/ITextFieldGroup.ts
  src/containers/tutor-home-page/general-info-step/interfaces/store.d.ts
  src/context/step-context.jsx
  src/hooks/use-debounce.ts
  tests/unit/containers/tutor-home-page/general-info-step/SelectGroup.spec.jsx
  tests/unit/containers/tutor-home-page/general-info-step/TextFieldGroup.spec.jsx
Labels: sprint 5, Stepper

#285 Added unit tests for the offer details component
  tests/unit/pages/offer-details/OfferDetails.spec.jsx
Labels: sprint 5, Unit test

#265 Categories Page with tests
  src/containers/categories-results-not-found/CategoriesResultsNotFound.jsx
  src/containers/categories-results-not-found/CategoriesResultsNotFound.styles.js
  src/containers/categories-title-input/CategoriesTitleInput.jsx
  src/containers/categories-title-input/CategoriesTitleInput.styles.js
  src/containers/category-list/CategoryList.jsx
  src/containers/create-request-offer/CreateRequestOffer.jsx
  src/containers/create-request-offer/CreateRequestOffer.styles.js
  src/pages/categories/Categories.jsx
  src/pages/categories/Categories.styles.js
  tests/unit/containers/categories-title-input/CategoriesTitleInput.spec.jsx
  tests/unit/pages/categories/Categories.spec.jsx
Labels: feature, Categories, FrontEnd part

#299 reusable ResultsNotFound component
  src/components/results-not-found/ResultsNotFound.jsx
  src/components/results-not-found/ResultsNotFound.styles.js
  src/containers/categories-results-not-found/CategoriesResultsNotFound.jsx
  src/containers/categories-results-not-found/CategoriesResultsNotFound.styles.js
  src/containers/category-list/CategoryList.jsx
  src/containers/subject-list/SubjectList.jsx
  src/containers/subject-list/SubjectList.styles.jsx
  tests/unit/components/results-not-found/ResultsNotFound.spec.jsx
  tests/unit/containers/categories-results-not-found/CategoriesResultsNotFound.spec.jsx
  tests/unit/containers/category-list/CategoryList.spec.jsx
  tests/unit/containers/subject-list/SubjectList.spec.jsx
Labels: sprint 6, FrontEnd part

#304 replaced current data fetching logic with useViewMore hook
  src/containers/category-list/CategoryList.jsx
  src/containers/category-list/CategoryList.styles.js
  src/containers/student-home-page/student-popular-categories/StudentPopularCategories.jsx
  tests/unit/containers/category-list/CategoryList.spec.jsx
Labels: enhancement, Categories, sprint 6, FrontEnd part

#302 Fixed bug with author full name
  src/components/offer-card-list/OfferCardList.jsx
Labels: bug, Find offers, FrontEnd part

#309 Bugfix: Search parameters aren't cleared if the user manually clears the input field
  src/containers/categories-title-input/CategoriesTitleInput.jsx
  tests/unit/containers/categories-title-input/CategoriesTitleInput.spec.jsx
Labels: bug, Categories, sprint 6, FrontEnd part

#315 SortMenu updated
  src/components/sort-menu/SortMenu.jsx
  tests/unit/components/sort-menu/SortMenu.spec.jsx
Labels: bug, Find offers, sprint 6, FrontEnd part

#323 SubjectList component doesn't use subjectName search param when querying data
  src/containers/subject-list/SubjectList.jsx
Labels: bug, Subjects, sprint 6, FrontEnd part

#321 Reset "page" search param
  src/containers/categories-title-input/CategoriesTitleInput.jsx
  src/containers/subjects-search/SubjectsSearch.jsx
Labels: bug, sprint 6, FrontEnd part

#316 Implement sending reviews for offers
  src/components/offer-card-list/OfferCardList.jsx
  src/constants/request.js
  src/constants/translations/en/constant.json
  src/hooks/use-review.jsx
  src/services/review-service.js
Labels: feature, Find offers, sprint 6, FrontEnd part

#319 Add service for find offers by categoryId, subjectId and other params
  src/constants/request.js
  src/services/category-service.js
  tests/unit/services/category-service.spec.js
Labels: feature, Find offers, sprint 6, FrontEnd part

#326 Added type of the file to StepContext
  src/containers/tutor-home-page/add-photo-step/AddPhotoStep.jsx
Labels: sprint 6, FrontEnd part

#328 Fixed styles for subject step
  src/containers/tutor-home-page/subjects-step/SubjectsStep.styles.js
Labels: sprint 6, FrontEnd part, Stepper

#258 ExploreOffers with tests
  src/containers/explore-offers/ExploreOffers.jsx
  src/containers/explore-offers/ExploreOffers.styles.js
  tests/unit/containers/explore-offers/ExploreOffers.spec.jsx
Labels: feature, Find offers, FrontEnd part

#330 Reworked popular categories and refactored CategoryList
  src/containers/category-list-wrapper/CategoryListWrapper.jsx
  src/containers/category-list-wrapper/CategoryListWrapper.styles.js
  src/containers/category-list/CategoryList.jsx
  src/containers/category-list/CategoryList.styles.js
  src/containers/popular-categories/PopularCategories.jsx
  src/containers/popular-categories/PopularCategories.styles.js
  src/containers/student-home-page/student-popular-categories/StudentPopularCategories.jsx
  src/pages/categories/Categories.jsx
  tests/unit/containers/category-list-wrapper/CategoryList.spec.jsx
  tests/unit/containers/student-home-page/student-popular-categories/StudentPopularCategories.spec.jsx
  tests/unit/pages/categories/Categories.spec.jsx
Labels: feature, Find offers, FrontEnd part

#329 Implemented StudyRequest dialog and form
  package-lock.json
  src/assets/img/request-study-dialog/request-study.svg
  src/components/results-not-found/ResultsNotFound.jsx
  src/constants/request.js
  src/constants/translations/en/categories-page.json
  src/constants/translations/en/errors.json
  src/constants/translations/ua/categories-page.json
  src/containers/request-study/request-study-dialog/RequestStudyDialog.jsx
  src/containers/request-study/request-study-dialog/RequestStudyDialog.styles.js
  src/containers/request-study/request-study-form/RequestStudyForm.jsx
  src/containers/request-study/request-study-form/RequestStudyForm.styles.js
  src/containers/request-study/request-study-form/constants.js
  src/services/request-service.js
  tests/unit/containers/request-study/request-study-dialog/RequestStudyDialog.spec.jsx
  tests/unit/containers/request-study/request-study-form/RequestStudyForm.spec.jsx
Labels: Categories, Subjects, sprint 6, FrontEnd part

#334 Feature/292 4/new add toolbar to find offers page
  src/pages/find-offers/FindOffers.jsx
  src/pages/find-offers/FindOffers.styles.js
  src/services/category-service.js
Labels: feature, Find offers, sprint 6, FrontEnd part
